{% extends 'template.html.twig' %}

{% block central %}
  <ul>

  <h1>WISH</h1>
  {% for w in wishes %}

<li>{{w.id }} - {{w.title }} => {{w.description }} de {{w.author }} créer le  {{w.dateCreated|date("m/d/Y, H:i:s")}} </li>

  {% endfor %}
  </ul>
{% endblock %}
