<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page</title>
    <style>
    header{
        
    }
    
    body{
        margin:0;
    }
    </style>
</head>
<body>
    <header >
    {#  path('name') #}
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <a class="navbar-brand" href="{{ path('home') }}">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
     <div class="collapse navbar-collapse" id="collapsibleNavbar">

    <ul class="navbar-nav">
      <li class="nav-item">
    <a class="nav-link" href="{{ path('home') }}">Home</a><span class="sr-only">(current)</span></a>
    </li>
      <li class="nav-item">
    <a class="nav-link" href="{{ path('about_us') }}">About Us</a>
    </li>
      <li class="nav-item">
    <a class="nav-link" href="{{ path('contact') }}">Contact</a>
    </li>
      <li class="nav-item">    
    <a class="nav-link" href="{{ path('wish') }}">Wish</a>
    </li>
      <li class="nav-item">
    <a class="nav-link" href="{{ path('add') }}">Ajouter Wish</a>
    </li>
    </ul>
    </div>
    </nav>
    {% set maroute = app.request.attributes.get('_route')%}
   
    </header>
    <div class="container">
      ici le container
      {# zone modifiable #}
      {% block central %}
       par default
      {% endblock %}
    </div>
    <footer>
    <br><br><br>
    ici le footer
    </footer>

</body>
</html>